@{
    ViewData["Title"] = "Home Page";
}

<div id="home-page" class="text-center">
    <h2 class="display-4">Assessment ASP.NET</h2>
    <h3 class="display-4">Birthday Management</h3>
</div>

<div id="quick">
    <p><a asp-area="" asp-controller="Person" asp-action="Create" class="btn btn-info">Create new</a></p>
</div>

<form asp-action="Search" asp-controller="Person" method="get">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Search</label>
        <input class="form-control" name="query" id="query" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>