@model IEnumerable<BirthdayManager.Models.Person>

@{
    ViewData["Title"] = "Home Page";
}

<div id="home-page" class="text-center">
    <h2 class="display-4">AT - ASP NET</h2>
    <h3 class="display-4">Gerenciamento de Aniversários</h3>
</div>

<div id="quick">
    <h4>Quick access</h4>
    <p>
        <a asp-area="" asp-controller="Person" asp-action="Create">Create new</a>
    </p>
    @*<p>
        <a asp-area="" asp-controller="Person" asp-action="Index">Birthday List</a>
    </p>*@
</div>